<div class="first">
  <h2>{{cat1[0].category}}</h2>
  <div ng-repeat="flower in cat1">
    <h4>{{flower.title}}</h4>
    <p>{{flower.description}}</p>
    <p>Price: ${{flower.price}}</p>
  </div>
</div>

<div class="second">
  <h2>{{cat2[0].category}}</h2>
  <div ng-repeat="flower in cat2">
    <h4>{{flower.title}}</h4>
    <p>{{flower.description}}</p>
    <p>Price: ${{flower.price}}</p>
  </div>
</div>

<div class="third">
  <h2>{{cat3[0].category}}</h2>
  <div ng-repeat="flower in cat3">
    <h4>{{flower.title}}</h4>
    <p>{{flower.description}}</p>
    <p>Price: ${{flower.price}}</p>
  </div>
</div>